<!DOCTYPE html>

  <head>
    <title>Web Conference</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  <head>

  <body>
    <div class="header">
      <label>WebConference</label>
    </div>
    <br>
    <div class="cadastro">
      <label>Nome da sala:</label>
      <input id="sala-input" />
      <br><br>
      <button onclick="postRoom(document.getElementById('sala-input').value)" id="sala-button">Cadastrar sala</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/index.js"></script>

    <div id="showData"></div>
  </body>

</html>