body {  
  font: "Calibri";
  margin-left: 10%;
  width: 80%;
}

.header {
    background-color: cornflowerblue;
    padding: 1%;
    height: 100%;
    width: 100%;
    font-family: "Calibri";
    font-size: 30px;
    color: honeydew;
}

.div-sair {
    float: right;
}
.sair {
    font-size: 25px;
    float: right; 
	border-radius: 2px;
    border-color: cornflowerblue;
	text-align: center;
	background-color: honeydew;
	font-weight: bold;
	color: cornflowerblue;
}

.video-class {   
    padding: 5%; 
}

button {
    margin-bottom: 0.5rem;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.container {
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#showData {
    padding: 2px;
}

.button-table {
    border-radius: 2px;
    border-style:solid;
    padding: 2%; 
    text-align: center;
    width: 100%;
}

.cadastro {
    border: solid 1px;
    border-radius: 4px;
    padding: 1%;
    width: 38%; 
    font-family: Calibri;
    font-size: 17px;
}