body {  
  font: "Calibri";
  width: 100%;
}

.header {
    background-color: cornflowerblue;
    padding: 1%;
    height: 100%;
    font-family: "Calibri";
    font-size: 30px;
    color: honeydew;
}

.div-sair {
    float: right;
}
.sair {
    font-size: 25px;
    float: right; 
	border-radius: 2px;
    border-color: cornflowerblue;
	text-align: center;
	background-color: honeydew;
	font-weight: bold;
	color: cornflowerblue;
}

.video-class {   
    padding: 5%; 
}

button {
    margin-bottom: 0.5rem;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.container {
    display: flex;
    flex-direction: column;
}
